html,
body {
  color: #000;
  font-family: "Source Sans Pro", sans-serif;
  /* font-family: "Oswald", sans-serif; */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}
body {
}

.site__header {
  position: relative;
}
.site__center {
  position: relative;
}
.site__footer {
  position: relative;
}

.header__area {
  background: rgba(0, 60, 75, 1);
}

.header__area_main {
  background: linear-gradient(#003c4b, transparent);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 200;
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
}

.logo1 {
  position: relative;
}

.logo1 a {
  text-decoration: none;
}

.logo1 img {
  display: block;
  width: 100%;
}

.topMenu__area {
  position: relative;
}

.topMenu {
  display: flex;
  align-items: center;
}

.topMenu li.lev1 {
  list-style: none;
  margin-right: 40px;
  position: relative;
}
.topMenu li.lev1:last-child {
  margin-right: 0;
}

.topMenu li.lev1 a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 1.375rem;
  font-weight: 400;
}

.topMenu li.lev1 > a:after {
  content: "";
  width: 0;
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 2px;
  background: #fff;
  transition: all 0.3s;
}

.topMenu li.lev1:hover > a:after {
  width: 100%;
  left: 0;
}

.topMenu li.lev1 ul {
  display: block;
  background: #fff;
  position: absolute;
  padding: 10px 0;
  /* bottom: 2px; */
  left: 0;
  opacity: 0;
  transition: all 0.3s;
  visibility: hidden;
  border-top: 4px solid rgba(230, 24, 1, 1);
}

.topMenu li.lev1:hover ul {
  opacity: 1;
  visibility: visible;
}

.topMenu li.lev2 {
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: column;
}

.topMenu li.lev2 a {
  color: #003c4b;
  font-size: 1.125rem;
  padding: 5px 10px;
  transition: all 0.3s;
}

.topMenu li.lev2 a:hover {
  color: #fff;
  background: #003c4b;
}

.menuButton {
  background: #fff;
  border-radius: 2px;
  width: 2rem;
  height: 2rem;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: none;
  z-index: 200;
}

.menuButton span {
  display: block;
  position: absolute;
  height: 0.125rem;
  width: 1.25rem;
  background: #003c4b;
  opacity: 1;
  left: 0.375rem;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.menuButton span:nth-child(1) {
  top: 0.375rem;
}

.menuButton span:nth-child(2) {
  top: 0.9375rem;
}

.menuButton span:nth-child(3) {
  top: 1.5rem;
}

.menuButton.open span:nth-child(1) {
  top: 0.9375rem;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.menuButton.open span:nth-child(2) {
  opacity: 0;
  left: -3.75rem;
}

.menuButton.open span:nth-child(3) {
  top: 0.9375rem;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.firstScreen__area {
  width: 100%;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.firstScreen__area:before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 60, 75, 0.5);
}

.firstScreen {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 10px;
}

.firstScreen__sloganArea {
  display: flex;
  flex-direction: column;
  width: 50%;
  left: 0;
  top: 50%;
  position: absolute;
  z-index: 100;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

.firstScreen__sloganDesc {
  color: white;
  font-size: 2.25rem;
  font-weight: 300;
  text-transform: uppercase;
}

.firstScreen__sloganTitle {
  color: white;
  font-family: Oswald;
  font-size: 4.5rem;
  font-weight: 300;
  text-transform: uppercase;
}

.firstScreen__sloganBottom {
  width: 100%;
  text-align: right;
  border-bottom: 2px solid #fff;
  color: white;
  font-size: 1.625rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 50px;
}

.firstScreen__linkArea {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.firstScreen__link {
  width: 32%;
  display: flex;
  padding: 20px 10px;
  border: 2px solid #fff;
  text-decoration: none;
  background: rgba(0, 60, 75, 0.5);
  align-items: center;
  transition: all 0.3s;
}

.firstScreen__link:hover {
  background: rgba(0, 130, 155, 0.7);
}

.firstScreen__link span {
  color: white;
  font-size: 1.25rem;
  font-weight: 300;
}

.mainAbout {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.mainAbout__content {
  width: 66%;
  padding-right: 20px;
}

.mainAbout__img {
  width: 33%;
}

.mainAbout__imgContainer {
  width: 100%;
}

.mainAbout__imgContainer img {
  width: 100%;
  display: block;
}

.mainAbout__videoContainer {
  width: 100%;
}

.mainAbout__videoBox {
  position: relative;
}

.mainAbout__videoBox a:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 60, 75, 0.5);
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../img/play.png);
  opacity: 0;
  transition: all 0.3s;
}

.mainAbout__videoBox a:hover:after {
  opacity: 1;
}

.mainAbout__videoBox a {
  display: block;
}

.mainAbout__videoBox a img {
  display: block;
  width: 100%;
}

.deals__area {
  background-color: #00829b;
}

.deals__outer {
  position: relative;
  padding-bottom: 30px;
  padding-top: 20px;
}

.titleBox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.titleBox_withMoreLink {
  justify-content: space-between;
}

.redmore1 {
  color: #fefefe;
  font-size: 1.125rem;
  font-weight: 400;
  text-decoration: underline;
}
.redmore1:hover {
  text-decoration: none;
}

.deals {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  justify-content: center;
}

.deals__item {
  width: 33.333%;
  padding: 10px;
}

.deals__item a {
  display: flex;
  position: relative;
  border: 2px solid white;
}

.deals__item a:before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 60, 75, 0.7);
  transition: all 0.5s;
}

.deals__item a:hover:before {
  background: rgba(255, 255, 255, 0.7);
}

.deals__item a img {
  width: 100%;
  display: block;
}

.deals__item a span {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 30%;
  display: flex;
  align-items: center;
  padding: 10px;
  color: #fff;
  transition: all 0.5s;
  font-size: 1.5rem;
}
.deals__item a:hover span {
  height: 100%;
  color: #003c4b;
}

.siteBlock__outer {
  padding: 20px 5px 40px 5px;
}

.animCount__area {
  position: relative;
  background-image: url(../img/bg2.jpg);
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
}

.animCount__outer {
  padding: 50px 10px 50px 10px;
}

.animCount__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.animCount {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  justify-content: center;
}

.animCount__number {
  display: flex;
  align-items: center;
}

.animCount__number span {
  font-size: 3.125rem;
  color: #fff;
  line-height: 1.2;
}

.animCount__numberInfo {
  font-size: 1.125rem;
  color: #fff;
  line-height: 1.4;
  text-align: center;
}

.contBox__area {
  position: relative;
  background-image: url(../img/bg3.jpg);
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 40px 0;
}

.contBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contBox__map {
  width: 60%;
}

.contBox__form {
  width: 40%;
  padding: 0 0 0 20px;
}

#map {
  height: 460px;
  border: 2px solid #003c4b;
}

.baloon__top {
  font-size: 1.375rem;
  color: #003c4b;
  font-family: "Oswald", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.baloon__description {
  font-size: 0.875rem;
  color: #003c4b;
  text-align: center;
  font-weight: 300;
}

.baloon__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.baloon__content a {
  font-size: 1.25rem;
  color: #003c4b;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 5px;
}
.baloon__footer {
  font-size: 0.75rem;
  color: #000;
  font-weight: 300;
}

.baloon__hit {
  font-size: 1rem;
  color: #003c4b;
  font-family: "Oswald", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.footer__area {
  background-color: #003c4b;
  position: relative;
  padding: 30px 0;
}

.footer__area:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background-image: url(../img/bg4.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}

.f1 {
  order: 1;
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 0;
}
.f2 {
  order: 2;
  width: 25%;
  padding: 0 0 0 20px;
}
.f3 {
  order: 3;
  width: 25%;
  padding: 0 20px 0 20px;
}
.f4 {
  order: 4;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.tm1 {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.oferta1 {
  color: white;
  font-size: 0.75rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.policy1 {
  color: white;
  font-size: 0.875rem;
  font-weight: 400;
  text-decoration: underline;
}
.policy1:hover {
  text-decoration: none;
}

.dev {
  margin-top: auto;
  padding-top: 50px;
  color: white;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.2;
  font-style: italic;
}

.dev a {
  color: white;
  font-weight: 300;
  font-size: 0.75rem;
  font-weight: 300;
  font-style: italic;
}

.dev a:hover {
  text-decoration: none;
}

.footerMenu1 {
  list-style: none;
}

.footerMenu1 li {
  margin-bottom: 15px;
}

.footerMenu1 li a {
  color: white;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
  text-decoration: none;
}

.footerMenu1 li a:hover,
.footerMenu1 li.active a {
  text-decoration: underline;
}

.footerMenu2 {
  list-style: none;
}

.footerMenu2 li {
  margin-bottom: 10px;
}

.footerMenu2 li a {
  color: white;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.1;
  text-decoration: none;
}

.footerMenu2 li a:hover,
.footerMenu2 li.active a {
  text-decoration: underline;
}

.footerPhone1 {
  color: white;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 15px;
  text-decoration: none;
}

.footerEmail1 {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 15px;
  text-decoration: none;
}

.footerAddress {
  text-align: right;
  color: white;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 15px;
}
.footerTime {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footerTime span {
  color: white;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.3;
}

.adaptiveMenu__boxOuter {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 1000;
}

.adaptiveMenu__box {
  display: flex;
  background: #00829b;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  transition: all 0.1s;
  overflow: scroll;
}

.adaptiveMenuBtnClose {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: #fff;
  border: 2px solid #fff;
}
.adaptiveMenuBtnClose i {
  font-size: 0.875rem;
  color: #fff;
}

.adaptiveMenu__area {
  position: relative;
  margin-bottom: 20px;
}

.adaptiveMenu {
  display: flex;
  flex-direction: column;
}

.adaptiveMenu li {
  list-style: none;
  margin-bottom: 10px;
}

.adaptiveMenu li.lev1 > a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 1.375rem;
  font-weight: 400;
}

.adaptiveMenu li.lev1.active a,
.adaptiveMenu li.lev1 a:hover {
  text-decoration: underline;
}

.adaptiveMenu li.lev1 > ul {
  padding: 10px 0 0 20px;
}

.adaptiveMenu li.lev2 > a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 300;
}

.page__area {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page {
}
