.carousel {
  position: relative;
  padding: 0 2.625rem;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}

.carousel__wrapper {
  display: flex;
  align-items: center;
}

.carousel__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  border: 1px solid #00829b;
}

.carousel__slide img {
  display: block;
  max-width: 100%;
  height: auto;
}

.carousel__btn {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  margin-top: -1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: rgba(128, 128, 128, 1);
  cursor: pointer;
  transition: all 0.3s;
}

.carousel__btn:hover {
  background: #00829b;
}

.carousel__btn i {
  font-size: 1rem;
}

.carousel__btnPrev {
  left: 0;
}
.carousel__btnNext {
  right: 0;
}
